ol.lst-kix_vch2exlm50ie-2.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-2 0;
}

.lst-kix_861iv6n0066j-6 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-6;
}

.lst-kix_vch2exlm50ie-3 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-3;
}

.lst-kix_7bj3um8npqhz-4 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-4;
}

ol.lst-kix_3rz3dobwipxs-0.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-0 0;
}

ol.lst-kix_vch2exlm50ie-5.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-5 0;
}

.lst-kix_861iv6n0066j-5 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-5;
}

.lst-kix_7bj3um8npqhz-3 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-3;
}

.lst-kix_ry142n37bny6-1 > li:before {
content: "\0025cb  ";
}

.lst-kix_ry142n37bny6-0 > li:before {
content: "  ";
}

.lst-kix_ry142n37bny6-2 > li:before {
content: "\0025a0  ";
}

ol.lst-kix_7bj3um8npqhz-6.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-6 0;
}

ol.lst-kix_7bj3um8npqhz-8 {
list-style-type: none;
}

ol.lst-kix_vch2exlm50ie-8.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-8 0;
}

.lst-kix_vch2exlm50ie-4 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-4;
}

ol.lst-kix_7bj3um8npqhz-6 {
list-style-type: none;
}

ol.lst-kix_7bj3um8npqhz-7 {
list-style-type: none;
}

.lst-kix_vch2exlm50ie-1 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-1;
}

ol.lst-kix_7bj3um8npqhz-4 {
list-style-type: none;
}

ol.lst-kix_7bj3um8npqhz-5 {
list-style-type: none;
}

ol.lst-kix_7bj3um8npqhz-2 {
list-style-type: none;
}

ol.lst-kix_7bj3um8npqhz-3.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-3 0;
}

ol.lst-kix_7bj3um8npqhz-3 {
list-style-type: none;
}

ol.lst-kix_861iv6n0066j-1.start {
counter-reset: lst-ctn-kix_861iv6n0066j-1 0;
}

.lst-kix_7bj3um8npqhz-7 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-7,lower-latin) ". ";
}

ol.lst-kix_861iv6n0066j-2 {
list-style-type: none;
}

ol.lst-kix_861iv6n0066j-1 {
list-style-type: none;
}

.lst-kix_7bj3um8npqhz-6 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-6,decimal) ". ";
}

.lst-kix_7bj3um8npqhz-8 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-8,lower-roman) ". ";
}

ol.lst-kix_861iv6n0066j-4 {
list-style-type: none;
}

ol.lst-kix_861iv6n0066j-3 {
list-style-type: none;
}

.lst-kix_3rz3dobwipxs-7 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-7;
}

ol.lst-kix_861iv6n0066j-0 {
list-style-type: none;
}

.lst-kix_861iv6n0066j-8 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-8;
}

ol.lst-kix_7bj3um8npqhz-0.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-0 0;
}

.lst-kix_3rz3dobwipxs-0 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-0,decimal) ". ";
}

.lst-kix_3rz3dobwipxs-2 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-2,lower-roman) ". ";
}

ol.lst-kix_861iv6n0066j-6 {
list-style-type: none;
}

ol.lst-kix_861iv6n0066j-5 {
list-style-type: none;
}

ol.lst-kix_861iv6n0066j-8 {
list-style-type: none;
}

.lst-kix_3rz3dobwipxs-1 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-1,lower-latin) ". ";
}

ol.lst-kix_3rz3dobwipxs-3.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-3 0;
}

ol.lst-kix_861iv6n0066j-7 {
list-style-type: none;
}

ol.lst-kix_7bj3um8npqhz-0 {
list-style-type: none;
}

ol.lst-kix_7bj3um8npqhz-1 {
list-style-type: none;
}

ol.lst-kix_3rz3dobwipxs-6.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-6 0;
}

.lst-kix_861iv6n0066j-3 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-3;
}

ol.lst-kix_3rz3dobwipxs-5.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-5 0;
}

.lst-kix_vch2exlm50ie-0 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-0;
}

.lst-kix_vch2exlm50ie-6 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-6;
}

ol.lst-kix_vch2exlm50ie-4.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-4 0;
}

ol.lst-kix_7bj3um8npqhz-1.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-1 0;
}

.lst-kix_861iv6n0066j-2 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-2;
}

.lst-kix_3rz3dobwipxs-6 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-6;
}

ol.lst-kix_861iv6n0066j-4.start {
counter-reset: lst-ctn-kix_861iv6n0066j-4 0;
}

.lst-kix_3rz3dobwipxs-0 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-0;
}

.lst-kix_vch2exlm50ie-7 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-7;
}

.lst-kix_7bj3um8npqhz-8 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-8;
}

.lst-kix_7bj3um8npqhz-5 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-5;
}

ol.lst-kix_vch2exlm50ie-3.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-3 0;
}

ol.lst-kix_7bj3um8npqhz-8.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-8 0;
}

ol.lst-kix_3rz3dobwipxs-4.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-4 0;
}

ol.lst-kix_861iv6n0066j-3.start {
counter-reset: lst-ctn-kix_861iv6n0066j-3 0;
}

ol.lst-kix_vch2exlm50ie-6 {
list-style-type: none;
}

ol.lst-kix_vch2exlm50ie-5 {
list-style-type: none;
}

ol.lst-kix_vch2exlm50ie-8 {
list-style-type: none;
}

ol.lst-kix_vch2exlm50ie-7 {
list-style-type: none;
}

ol.lst-kix_7bj3um8npqhz-2.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-2 0;
}

.lst-kix_7bj3um8npqhz-2 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-2;
}

.lst-kix_861iv6n0066j-0 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-0;
}

ol.lst-kix_861iv6n0066j-5.start {
counter-reset: lst-ctn-kix_861iv6n0066j-5 0;
}

ol.lst-kix_vch2exlm50ie-2 {
list-style-type: none;
}

ol.lst-kix_vch2exlm50ie-1 {
list-style-type: none;
}

ol.lst-kix_vch2exlm50ie-4 {
list-style-type: none;
}

ol.lst-kix_vch2exlm50ie-3 {
list-style-type: none;
}

.lst-kix_vch2exlm50ie-8 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-8;
}

.lst-kix_861iv6n0066j-0 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-0,decimal) ". ";
}

ol.lst-kix_861iv6n0066j-2.start {
counter-reset: lst-ctn-kix_861iv6n0066j-2 0;
}

ol.lst-kix_vch2exlm50ie-0 {
list-style-type: none;
}

.lst-kix_861iv6n0066j-2 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-2,lower-roman) ". ";
}

.lst-kix_861iv6n0066j-1 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-1,lower-latin) ". ";
}

.lst-kix_861iv6n0066j-3 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-3,decimal) ". ";
}

ol.lst-kix_3rz3dobwipxs-7.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-7 0;
}

.lst-kix_861iv6n0066j-5 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-5,lower-roman) ". ";
}

.lst-kix_861iv6n0066j-4 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-4,lower-latin) ". ";
}

.lst-kix_3rz3dobwipxs-3 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-3;
}

.lst-kix_vch2exlm50ie-7 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-7,lower-latin) ". ";
}

.lst-kix_vch2exlm50ie-8 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-8,lower-roman) ". ";
}

.lst-kix_vch2exlm50ie-5 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-5,lower-roman) ". ";
}

.lst-kix_3rz3dobwipxs-1 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-1;
}

.lst-kix_861iv6n0066j-6 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-6,decimal) ". ";
}

.lst-kix_861iv6n0066j-7 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-7,lower-latin) ". ";
}

.lst-kix_3rz3dobwipxs-4 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-4;
}

.lst-kix_861iv6n0066j-8 > li:before {
content: "" counter(lst-ctn-kix_861iv6n0066j-8,lower-roman) ". ";
}

.lst-kix_vch2exlm50ie-6 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-6,decimal) ". ";
}

.lst-kix_vch2exlm50ie-0 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-0,decimal) ". ";
}

.lst-kix_vch2exlm50ie-1 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-1,lower-latin) ". ";
}

ol.lst-kix_7bj3um8npqhz-7.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-7 0;
}

ol.lst-kix_861iv6n0066j-8.start {
counter-reset: lst-ctn-kix_861iv6n0066j-8 0;
}

.lst-kix_vch2exlm50ie-3 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-3,decimal) ". ";
}

.lst-kix_vch2exlm50ie-4 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-4,lower-latin) ". ";
}

ol.lst-kix_vch2exlm50ie-1.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-1 0;
}

.lst-kix_vch2exlm50ie-2 > li:before {
content: "" counter(lst-ctn-kix_vch2exlm50ie-2,lower-roman) ". ";
}

.lst-kix_3rz3dobwipxs-8 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-8,lower-roman) ". ";
}

ol.lst-kix_vch2exlm50ie-7.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-7 0;
}

.lst-kix_3rz3dobwipxs-5 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-5,lower-roman) ". ";
}

.lst-kix_7bj3um8npqhz-1 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-1;
}

.lst-kix_7bj3um8npqhz-0 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-0,decimal) ". ";
}

ol.lst-kix_861iv6n0066j-7.start {
counter-reset: lst-ctn-kix_861iv6n0066j-7 0;
}

ol.lst-kix_vch2exlm50ie-0.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-0 0;
}

.lst-kix_3rz3dobwipxs-4 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-4,lower-latin) ". ";
}

.lst-kix_7bj3um8npqhz-6 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-6;
}

ol.lst-kix_7bj3um8npqhz-4.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-4 0;
}

.lst-kix_3rz3dobwipxs-3 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-3,decimal) ". ";
}

.lst-kix_7bj3um8npqhz-3 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-3,decimal) ". ";
}

.lst-kix_7bj3um8npqhz-0 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-0;
}

.lst-kix_7bj3um8npqhz-2 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-2,lower-roman) ". ";
}

.lst-kix_7bj3um8npqhz-4 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-4,lower-latin) ". ";
}

.lst-kix_7bj3um8npqhz-1 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-1,lower-latin) ". ";
}

.lst-kix_7bj3um8npqhz-5 > li:before {
content: "" counter(lst-ctn-kix_7bj3um8npqhz-5,lower-roman) ". ";
}

.lst-kix_7bj3um8npqhz-7 > li {
counter-increment: lst-ctn-kix_7bj3um8npqhz-7;
}

.lst-kix_3rz3dobwipxs-6 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-6,decimal) ". ";
}

ol.lst-kix_3rz3dobwipxs-2.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-2 0;
}

.lst-kix_3rz3dobwipxs-7 > li:before {
content: "" counter(lst-ctn-kix_3rz3dobwipxs-7,lower-latin) ". ";
}

.lst-kix_ry142n37bny6-5 > li:before {
content: "\0025a0  ";
}

ul.lst-kix_ry142n37bny6-8 {
list-style-type: none;
}

.lst-kix_ry142n37bny6-4 > li:before {
content: "\0025cb  ";
}

.lst-kix_ry142n37bny6-6 > li:before {
content: "\0025cf  ";
}

ul.lst-kix_ry142n37bny6-6 {
list-style-type: none;
}

ul.lst-kix_ry142n37bny6-7 {
list-style-type: none;
}

ol.lst-kix_861iv6n0066j-6.start {
counter-reset: lst-ctn-kix_861iv6n0066j-6 0;
}

.lst-kix_ry142n37bny6-3 > li:before {
content: "\0025cf  ";
}

.lst-kix_ry142n37bny6-7 > li:before {
content: "\0025cb  ";
}

ul.lst-kix_ry142n37bny6-0 {
list-style-type: none;
}

ul.lst-kix_ry142n37bny6-1 {
list-style-type: none;
}

ul.lst-kix_ry142n37bny6-4 {
list-style-type: none;
}

ul.lst-kix_ry142n37bny6-5 {
list-style-type: none;
}

ul.lst-kix_ry142n37bny6-2 {
list-style-type: none;
}

ul.lst-kix_ry142n37bny6-3 {
list-style-type: none;
}

ol.lst-kix_3rz3dobwipxs-0 {
list-style-type: none;
}

.lst-kix_3rz3dobwipxs-2 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-2;
}

.lst-kix_vch2exlm50ie-2 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-2;
}

ol.lst-kix_3rz3dobwipxs-8.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-8 0;
}

ol.lst-kix_3rz3dobwipxs-4 {
list-style-type: none;
}

ol.lst-kix_3rz3dobwipxs-3 {
list-style-type: none;
}

ol.lst-kix_3rz3dobwipxs-2 {
list-style-type: none;
}

.lst-kix_3rz3dobwipxs-5 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-5;
}

.lst-kix_vch2exlm50ie-5 > li {
counter-increment: lst-ctn-kix_vch2exlm50ie-5;
}

ol.lst-kix_7bj3um8npqhz-5.start {
counter-reset: lst-ctn-kix_7bj3um8npqhz-5 0;
}

ol.lst-kix_3rz3dobwipxs-1 {
list-style-type: none;
}

ol.lst-kix_3rz3dobwipxs-8 {
list-style-type: none;
}

.lst-kix_861iv6n0066j-4 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-4;
}

ol.lst-kix_3rz3dobwipxs-1.start {
counter-reset: lst-ctn-kix_3rz3dobwipxs-1 0;
}

ol.lst-kix_3rz3dobwipxs-7 {
list-style-type: none;
}

.lst-kix_861iv6n0066j-7 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-7;
}

.lst-kix_ry142n37bny6-8 > li:before {
content: "\0025a0  ";
}

ol.lst-kix_3rz3dobwipxs-6 {
list-style-type: none;
}

.lst-kix_861iv6n0066j-1 > li {
counter-increment: lst-ctn-kix_861iv6n0066j-1;
}

ol.lst-kix_3rz3dobwipxs-5 {
list-style-type: none;
}

.lst-kix_3rz3dobwipxs-8 > li {
counter-increment: lst-ctn-kix_3rz3dobwipxs-8;
}

ol.lst-kix_vch2exlm50ie-6.start {
counter-reset: lst-ctn-kix_vch2exlm50ie-6 0;
}

ol.lst-kix_861iv6n0066j-0.start {
counter-reset: lst-ctn-kix_861iv6n0066j-0 0;
}

ol {
margin: 0;
padding: 0;
}

table td, table th {
padding: 0;
}

.c3 {
margin-left: 60pt;
padding-top: 37pt;
padding-left: 0pt;
padding-bottom: 55pt;
line-height: 1.15;
orphans: 2;
widows: 2;
text-align: left;
margin-right: 24pt;
}

.c1 {
background-color: #ffffff;
color: #262626;
font-weight: 700;
text-decoration: none;
vertical-align: baseline;
font-size: 10.5pt;
font-family: "Arial";
font-style: normal;
}

.c11 {
background-color: #efefef;
color: #262626;
font-weight: 700;
text-decoration: none;
vertical-align: baseline;
font-size: 10pt;
font-family: "Arial";
font-style: normal;
}

.c10 {
background-color: #ffffff;
color: #3897f0;
font-weight: 400;
text-decoration: none;
vertical-align: baseline;
font-size: 10pt;
font-family: "Arial";
font-style: normal;
}

.c0 {
background-color: #ffffff;
color: #333333;
font-weight: 400;
text-decoration: none;
vertical-align: baseline;
font-size: 10pt;
font-family: "Arial";
font-style: normal;
}

.c2 {
background-color: #ffffff;
color: #262626;
font-weight: 400;
text-decoration: none;
vertical-align: baseline;
font-size: 10pt;
font-family: "Arial";
font-style: normal;
}

.c4 {
background-color: #ffffff;
color: #1d2129;
font-weight: 700;
text-decoration: none;
vertical-align: baseline;
font-size: 9pt;
font-family: "Arial";
font-style: normal;
}

.c12 {
margin-left: 36pt;
padding-top: 0pt;
padding-bottom: 10pt;
line-height: 1.15;
orphans: 2;
widows: 2;
text-align: left;
}

.c20 {
color: #000000;
font-weight: 400;
text-decoration: none;
vertical-align: baseline;
font-size: 11pt;
font-family: "Arial";
font-style: normal;
}

.c9 {
margin-left: 72pt;
padding-top: 0pt;
padding-bottom: 10pt;
line-height: 1.15;
orphans: 2;
widows: 2;
text-align: left;
}

.c14 {
margin-left: 72pt;
padding-top: 0pt;
padding-left: 0pt;
padding-bottom: 0pt;
line-height: 1.15;
text-align: left;
}

.c13 {
padding-top: 0pt;
padding-bottom: 3pt;
line-height: 1.0;
orphans: 2;
widows: 2;
text-align: left;
}

.c19 {
padding-top: 0pt;
padding-bottom: 45pt;
line-height: 1.538;
orphans: 2;
widows: 2;
text-align: left;
}

.c8 {
padding-top: 24pt;
padding-bottom: 42pt;
line-height: 1.538;
orphans: 2;
widows: 2;
text-align: left;
}

.c23 {
font-weight: 400;
text-decoration: none;
vertical-align: baseline;
font-family: "Arial";
font-style: normal;
}

.c5 {
background-color: #ffffff;
font-size: 10pt;
color: #1155cc;
text-decoration: underline;
}

.c18 {
background-color: #efefef;
font-size: 10pt;
color: #262626;
font-weight: 700;
}

.c6 {
padding-top: 24pt;
padding-bottom: 54pt;
line-height: 1.538;
text-align: left;
}

.c22 {
background-color: #efefef;
font-size: 10pt;
color: #262626;
}

.c17 {
background-color: #ffffff;
max-width: 451.4pt;
padding: 72pt 72pt 72pt 72pt;
}

.c15 {
background-color: #ffffff;
font-size: 10pt;
color: #262626;
}

.c21 {
color: inherit;
text-decoration: inherit;
}

.c7 {
padding: 0;
margin: 0;
}

.c24 {
font-weight: 700;
}

.c16 {
height: 11pt;
}

.title {
padding-top: 0pt;
color: #000000;
font-size: 26pt;
padding-bottom: 3pt;
font-family: "Arial";
line-height: 1.15;
page-break-after: avoid;
orphans: 2;
widows: 2;
text-align: left;
}

.subtitle {
padding-top: 0pt;
color: #666666;
font-size: 15pt;
padding-bottom: 16pt;
font-family: "Arial";
line-height: 1.15;
page-break-after: avoid;
orphans: 2;
widows: 2;
text-align: left;
}

li {
color: #000000;
font-size: 11pt;
font-family: "Arial";
}

p {
margin: 0;
color: #000000;
font-size: 11pt;
font-family: "Arial";
}

h1 {
padding-top: 20pt;
color: #000000;
font-size: 20pt;
padding-bottom: 6pt;
font-family: "Arial";
line-height: 1.15;
page-break-after: avoid;
orphans: 2;
widows: 2;
text-align: left;
}

h2 {
padding-top: 18pt;
color: #000000;
font-size: 16pt;
padding-bottom: 6pt;
font-family: "Arial";
line-height: 1.15;
page-break-after: avoid;
orphans: 2;
widows: 2;
text-align: left;
}

h3 {
padding-top: 16pt;
color: #434343;
font-size: 14pt;
padding-bottom: 4pt;
font-family: "Arial";
line-height: 1.15;
page-break-after: avoid;
orphans: 2;
widows: 2;
text-align: left;
}

h4 {
padding-top: 14pt;
color: #666666;
font-size: 12pt;
padding-bottom: 4pt;
font-family: "Arial";
line-height: 1.15;
page-break-after: avoid;
orphans: 2;
widows: 2;
text-align: left;
}

h5 {
padding-top: 12pt;
color: #666666;
font-size: 11pt;
padding-bottom: 4pt;
font-family: "Arial";
line-height: 1.15;
page-break-after: avoid;
orphans: 2;
widows: 2;
text-align: left;
}

h6 {
padding-top: 12pt;
color: #666666;
font-size: 11pt;
padding-bottom: 4pt;
font-family: "Arial";
line-height: 1.15;
page-break-after: avoid;
font-style: italic;
orphans: 2;
widows: 2;
text-align: left;
}